<script>
    $(document).ready(function () {
        $('#registrationForm').submit(function (event) {
            event.preventDefault();

            var formData = {
                FirstName: $('#FirstName').val(),
                LastName: $('#LastName').val(),
                Age: $('#Age').val(),
                Password: $('#Password').val(),
                Email: $('#Email').val(),
                Photo: $('#Photo').val()
            };

            $.ajax({
                type: 'POST',
                CORS: true,
                url: '/api/user/create',  
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (data) {
                    window.location.href = '/user/authorization'
                },
                error: function (error) {
                    console.error('Ошибка', error);
                }
            });
        });
    });
</script>
@{
    ViewData["Title"] = "Регистрация пользователя";
}

<div class="container mt-4">
    <h1>Регистрация пользователя</h1>

    <form id="registrationForm">
        @* Защита от подделки межсайтовых запросов *@
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="FirstName">Имя</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName"  required>
        </div>

        <div class="form-group">
            <label for="LastName">Фамилия</label>
            <input type="text" class="form-control" id="LastName" name="LastName"  required>
        </div>

        <div class="form-group">
            <label for="Age">Возраст</label>
            <input type="number" class="form-control" id="Age" name="Age"  required>
        </div>

        <div class="form-group">
            <label for="Password">Пароль</label>
            <input type="password" class="form-control" id="Password" name="Password" required>
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" name="Email"  required>
        </div>


        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
