@model Blog.PLL.ViewModel.Post.PostCollectionViewModel

<div class="container mt-4">
    <h1>Список постов</h1>

    <div>
        <!-- Добавляем кнопку "Перейти к посту" -->
        <a href="@Url.Action("Add", "PostDetail")" class="btn btn-primary">Создать пост</a>
    </div>

    @foreach (var post in Model.Posts)
    {
        @await Html.PartialAsync("PostShortPartial", post)

    }
</div>